.currentForecast {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    font-family: 'Bodoni';
}

.currentForecast .location {
    flex-direction: column;
    text-align: center;
}

.currentForecast .location h2 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.currentForecast .location h5 {
    font-weight: 400;
    font-size: 0.7rem;
}

.currentForecast .currentWeather {
    display: flex;
    flex-direction: row;
    margin: 1rem 5rem;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0, 0, 0 / 30%);
    background-color: #3f3f3f;
    padding: 0 1rem;
}

.currentForecast .currentWeather .currentWeatherDetails,
.currentForecast .currentWeather .currentWeatherImage {
    width: 50%;
}

.currentForecast .currentWeather .currentWeatherDetails {
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

.currentForecast .currentWeather .currentWeatherDetails .currentWeatherTemp {
    font-size: 2.7rem;
}
.currentForecast .currentWeather .currentWeatherDetails .currentWeatherDesc {
    font-size: 0.95rem;
    font-weight: 400;
    margin-top: -0.5rem;
}
.currentForecast .currentWeather .currentWeatherDetails .currentWeatherUpdate {
    font-size: 0.5rem;
    font-weight: 300;
}

.currentForecast .currentWeather .currentWeatherImage {
    margin-top: 1rem;
}
.currentForecast .currentWeather .currentWeatherImage img {
    width: 100%;
    height: 100%;
    margin-top: -0.9rem;
}

.currentForecast .weatherCharacteristics, .currentForecast .temperatureDetails {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
}

.currentForecast .weatherCharacteristics .weatherCharacteristic h5,
.currentForecast .temperatureDetails .temperatureDetail h5 {
    font-weight: 400;
    font-size: 0.7rem;
}

.currentForecast .temperatureDetails .temperatureDetail h5::after {
    content: " |";
    margin-left: 0.66rem;
}
.currentForecast .temperatureDetails .temperatureDetail:last-child h5::after {
    content: "";
}
.charts {
    display: flex;
    flex-direction: row;
    margin: 1.5rem auto;
    gap: 2rem;
    position: relative;
}
.chart {
    width: 3.5rem;
    height: 3.5rem;
}
.chart h5 {
    font-size: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 400;
}

.chart:first-child p, .chart:nth-child(2) p {
    font-size: 0.85rem;
    font-weight: 500;
    margin-left: 0.85rem;
    margin-top: -3.3rem;
}
.chart:last-child p {
    font-size: 0.7rem;
    font-weight: 500;
    margin-left: 0.1rem;
    margin-top: -3.8rem;
    text-align: center;
}