.search {
    font-family: 'Bodoni';
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin-top: 2rem;
}

.search .css-b62m3t-container {
    width: 300px;
}
/* .search svg, .search .temperature {
    margin-top: 4px;
    font-size: 24px;
}

.search .temperature {
    margin-left: auto;
}

input[type="text"] {
    padding: 8px;
    border-radius: 8px;
    width: 250px;
    margin-left: 15px;
} */