* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Bodoni;
  src: url("../src/assets/fonts/Libre_Bodoni/LibreBodoni-VariableFont_wght.ttf");
}

@font-face {
  font-family: Didot;
  src: url("../src/assets/fonts/GFS_Didot/GFSDidot-Regular.ttf");
}

.container {
  width: 40%;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(193, 193, 193);
}