.hourly {
    font-family: 'Bodoni';
}
.hourlyHeader {
    font-size: 1rem;
}
.divider {
    border-bottom: 1px solid black;
    margin-bottom: 0.8rem;
}
.hourlyForecasts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.daily {
    margin-top: 0.5rem;
}

.daily .dividerVertical {
    height: 30px;
    border-right: 2px solid #fff;
    margin: 1rem 0;
}

.timeForecast, .tempForecast {
    font-size: 0.8rem;
    font-weight: 400;
}
.hourlyForecast img {
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 414px){
    .timeForecast, .tempForecast {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px){
    .timeForecast, .tempForecast {
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 280px){
    .timeForecast, .tempForecast {
        font-size: 0.5rem;
    }
}